In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
data = pd.read_csv('summer.csv')

In [5]:
data.head(20)

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
5,1896,Athens,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200M Freestyle,Bronze
6,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200M Freestyle,Gold
7,1896,Athens,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200M Freestyle,Silver
8,1896,Athens,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400M Freestyle,Bronze
9,1896,Athens,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400M Freestyle,Gold
10,1896,Athens,Aquatics,Swimming,"PEPANOS, Antonios",GRE,Men,400M Freestyle,Silver
11,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100M,Bronze
12,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100M,Bronze
13,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100M,Gold
14,1896,Athens,Athletics,Athletics,"HOFMANN, Fritz",GER,Men,100M,Silver
15,1896,Athens,Athletics,Athletics,"CURTIS, Thomas",USA,Men,110M Hurdles,Gold
16,1896,Athens,Athletics,Athletics,"GOULDING, Grantley",GBR,Men,110M Hurdles,Silver
17,1896,Athens,Athletics,Athletics,"LERMUSIAUX, Albin",FRA,Men,1500M,Bronze
18,1896,Athens,Athletics,Athletics,"FLACK, Edwin",AUS,Men,1500M,Gold
19,1896,Athens,Athletics,Athletics,"BLAKE, Arthur",USA,Men,1500M,Silver

In [16]:
data.tail(20)

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
31145,2012,London,Wrestling,Wrestling Freestyle,"NOROOZI, Omid Haji",IRI,Men,Wg 60 KG,Gold
31146,2012,London,Wrestling,Wrestling Freestyle,"LASHKHI, Revaz",GEO,Men,Wg 60 KG,Silver
31147,2012,London,Wrestling,Wrestling Freestyle,"KURAMAGOMEDOV, Zaur",RUS,Men,Wg 60 KG,Bronze
31148,2012,London,Wrestling,Wrestling Freestyle,"MATSUMOTO, Ryutaro",JPN,Men,Wg 60 KG,Bronze
31149,2012,London,Wrestling,Wrestling Freestyle,"KIM, Hyeonwoo",KOR,Men,Wg 66 KG,Gold
31150,2012,London,Wrestling,Wrestling Freestyle,"LORINCZ, Tamas",HUN,Men,Wg 66 KG,Silver
31151,2012,London,Wrestling,Wrestling Freestyle,"GUENOT, Steeve",FRA,Men,Wg 66 KG,Bronze
31152,2012,London,Wrestling,Wrestling Freestyle,"TSKHADAIA, Manuchar",GEO,Men,Wg 66 KG,Bronze
31153,2012,London,Wrestling,Wrestling Freestyle,"VLASOV, Roman",RUS,Men,Wg 74 KG,Gold
31154,2012,London,Wrestling,Wrestling Freestyle,"JULFALAKYAN, Arsen",ARM,Men,Wg 74 KG,Silver
31155,2012,London,Wrestling,Wrestling Freestyle,"AHMADOV, Emin",AZE,Men,Wg 74 KG,Bronze
31156,2012,London,Wrestling,Wrestling Freestyle,"KAZAKEVIC, Aleksandr",LTU,Men,Wg 74 KG,Bronze
31157,2012,London,Wrestling,Wrestling Freestyle,"KHUGAEV, Alan",RUS,Men,Wg 84 KG,Gold
31158,2012,London,Wrestling,Wrestling Freestyle,"EBRAHIM, Karam Mohamed Gaber",EGY,Men,Wg 84 KG,Silver
31159,2012,London,Wrestling,Wrestling Freestyle,"GAJIYEV, Danyal",KAZ,Men,Wg 84 KG,Bronze
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze


# 1. In how many cities Summer Olympics is held so far?

In [4]:
data['City'].unique()

array(['Athens', 'Paris', 'St Louis', 'London', 'Stockholm', 'Antwerp',
       'Amsterdam', 'Los Angeles', 'Berlin', 'Helsinki',
       'Melbourne / Stockholm', 'Rome', 'Tokyo', 'Mexico', 'Munich',
       'Montreal', 'Moscow', 'Seoul', 'Barcelona', 'Atlanta', 'Sydney',
       'Beijing'], dtype=object)

# 2. Which sport is having most number of Gold Medals so far? (Top 5)

In [61]:
data[data['Medal']=='Gold']['Sport'].value_counts()[:5]

Aquatics      1421
Athletics     1215
Rowing         890
Gymnastics     820
Fencing        552
Name: Sport, dtype: int64

In [58]:
data1 = list(data[data['Medal']=='Gold']['Sport'])
dict1 = {}
for i in data1:
    c = data1.count(i)
    if (i,c) not in dict1:
        dict1[c]=i
print(dict1)

{1421: 'Aquatics', 1215: 'Athletics', 371: 'Cycling', 552: 'Fencing', 820: 'Gymnastics', 384: 'Shooting', 92: 'Tennis', 200: 'Weightlifting', 391: 'Wrestling', 126: 'Archery', 2: 'Basque Pelota', 12: 'Cricket', 4: 'Croquet', 320: 'Equestrian', 503: 'Football', 13: 'Golf', 22: 'Polo', 890: 'Rowing', 78: 'Rugby', 412: 'Sailing', 36: 'Tug of War', 239: 'Boxing', 28: 'Lacrosse', 1: 'Jeu de paume', 486: 'Hockey', 3: 'Rackets', 9: 'Skating', 5: 'Water Motorsports', 60: 'Modern Pentathlon', 8: 'Triathlon', 342: 'Basketball', 334: 'Canoe / Kayak', 321: 'Handball', 123: 'Judo', 332: 'Volleyball', 46: 'Table Tennis', 111: 'Baseball', 32: 'Taekwondo', 27: 'Canoe'}

In [60]:
for i in sorted(dict1,reverse=True)[:5]:
    print(dict1[i])

Aquatics
Athletics
Rowing
Gymnastics
Fencing

# 3. Which sport is having most number of medals so far? (Top 5)

In [63]:
data['Sport'].value_counts()[:5]

Aquatics      4170
Athletics     3638
Rowing        2667
Gymnastics    2307
Fencing       1613
Name: Sport, dtype: int64

In [64]:
data1 = list(data['Sport'])
dict1 = {}
for i in data1:
    c = data1.count(i)
    if (i,c) not in dict1:
        dict1[c]=i
print(dict1)

{4170: 'Aquatics', 3638: 'Athletics', 1105: 'Cycling', 1613: 'Fencing', 2307: 'Gymnastics', 1150: 'Shooting', 296: 'Tennis', 593: 'Weightlifting', 1212: 'Wrestling', 329: 'Archery', 4: 'Basque Pelota', 24: 'Triathlon', 8: 'Croquet', 939: 'Equestrian', 1497: 'Football', 30: 'Golf', 66: 'Polo', 2667: 'Rowing', 192: 'Rugby', 1109: 'Sailing', 94: 'Tug of War', 894: 'Boxing', 59: 'Lacrosse', 3: 'Jeu de paume', 1422: 'Hockey', 10: 'Rackets', 27: 'Skating', 5: 'Water Motorsports', 180: 'Modern Pentathlon', 1012: 'Basketball', 1002: 'Canoe / Kayak', 973: 'Handball', 491: 'Judo', 994: 'Volleyball', 144: 'Table Tennis', 335: 'Baseball', 112: 'Taekwondo', 81: 'Canoe'}

In [66]:
for i in sorted(dict1,reverse=True)[:5]:
    print(dict1[i])

Aquatics
Athletics
Rowing
Gymnastics
Fencing

# 4. Which player has won most number of medals? (Top 5)

In [67]:
data['Athlete'].value_counts()[:5]

PHELPS, Michael         22
LATYNINA, Larisa        18
ANDRIANOV, Nikolay      15
SHAKHLIN, Boris         13
MANGIAROTTI, Edoardo    13
Name: Athlete, dtype: int64

In [68]:
data1 = list(data['Sport'])
dict1 = {}
for i in data1:
    c = data1.count(i)
    if (i,c) not in dict1:
        dict1[c]=i
print(dict1)

{4170: 'Aquatics', 3638: 'Athletics', 1105: 'Cycling', 1613: 'Fencing', 2307: 'Gymnastics', 1150: 'Shooting', 296: 'Tennis', 593: 'Weightlifting', 1212: 'Wrestling', 329: 'Archery', 4: 'Basque Pelota', 24: 'Triathlon', 8: 'Croquet', 939: 'Equestrian', 1497: 'Football', 30: 'Golf', 66: 'Polo', 2667: 'Rowing', 192: 'Rugby', 1109: 'Sailing', 94: 'Tug of War', 894: 'Boxing', 59: 'Lacrosse', 3: 'Jeu de paume', 1422: 'Hockey', 10: 'Rackets', 27: 'Skating', 5: 'Water Motorsports', 180: 'Modern Pentathlon', 1012: 'Basketball', 1002: 'Canoe / Kayak', 973: 'Handball', 491: 'Judo', 994: 'Volleyball', 144: 'Table Tennis', 335: 'Baseball', 112: 'Taekwondo', 81: 'Canoe'}

In [69]:
for i in sorted(dict1,reverse=True)[:5]:
    print(dict1[i])

Aquatics
Athletics
Rowing
Gymnastics
Fencing

# 5. Which player has won most number Gold Medals of medals? (Top 5)

In [70]:
data[data['Medal']=='Gold']['Athlete'].value_counts()[:5]

PHELPS, Michael     18
LATYNINA, Larisa     9
NURMI, Paavo         9
LEWIS, Carl          9
SPITZ, Mark          9
Name: Athlete, dtype: int64

In [71]:
data1 = list(data[data['Medal']=='Gold']['Athlete'])
dict1 = {}
for i in data1:
    c = data1.count(i)
    if (i,c) not in dict1:
        dict1[c]=i
print(dict1)

{2: 'Pending', 1: 'REZAEI, Ghasem Gholamreza', 3: 'ICHO, Kaori', 4: 'WILLIAMS, Serena', 6: 'VEZZALI, Valentina', 8: 'FISCHER, Birgit', 5: 'ZOU, Kai', 9: 'LEWIS, Carl', 7: 'ANDRIANOV, Nikolay', 18: 'PHELPS, Michael'}

In [72]:
for i in sorted(dict1,reverse=True)[:5]:
    print(dict1[i])

PHELPS, Michael
LEWIS, Carl
FISCHER, Birgit
ANDRIANOV, Nikolay
VEZZALI, Valentina

# 6. In which year India won first Gold Medal in Summer Olympics?

In [94]:
data2 = data[data['Country']=="IND"]
data2 = data2[data2['Medal']=="Gold"]
data2['Year'].min()

1928

# 7. Which event is most popular in terms on number of players? (Top 5)

In [96]:
data['Event'].value_counts()[:5]

Football            1497
Hockey              1422
Team Competition    1147
Basketball          1012
Handball             973
Name: Event, dtype: int64

# 8. Which sport is having most female Gold Medalists? (Top 5)

In [101]:
data3 = data[data['Medal']=='Gold']
data3 = data[data['Gender']=='Women']
data3['Sport'].value_counts()[:5]

Aquatics      1726
Athletics     1163
Gymnastics     799
Rowing         651
Volleyball     497
Name: Sport, dtype: int64